
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.backgro{
position: absolute;
height: 700px;
width: 100%;
}

.bg_image{
  position: relative;
  display: flex;
  margin-left: 12rem;
}

.nav-links{
  display: flex;
  list-style: none;
  margin-left: 10rem;
  padding: 2.5rem;
}

.nav-link{
  text-align: center;
  margin: 2rem;
  color: white;
  font-size: 1.2rem;
}

.loggo{
  margin-top: -10rem;
}

.nav-icon{
  display: none;
}

h1{
  word-break: break-word;
  width: 500px;
  color: white;
  font-size: 30px;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 600;;
  margin-left: 8rem;
}

.Fransico{
  display: flex;
  margin: 30px;
  margin-top: 70px;
}
.bgText{
  margin-top: 5.5rem;
}

.map{
  float: right;
  margin-right: 70px;
}

.neighbour{
  border: 1px solid whitesmoke;
  border-radius: 15px;
  margin: 13px;
  width: 100px;
  height: 25px;
  width: 150px;
}

.search{
  background-color: white;
  display: inline-flex;
  border-radius: 20px;
  margin-top: 10px;
  float: right;
  margin-right: 90px;
  width: 380px;
  height: 50px;
  text-align: center;
}

.allType{
  display: inline-block; 
}

.faSearch{
  background-color: blue;
  color: white;
  margin: 11px;
  font-size: 1.5rem;
  margin-left: 15px;
}

.living{
  width: 330px;
  height: 400px;
}

.livingCost{
  display: flex;
  margin-left: 5rem;
}

.vector{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left:50px;
}

.vector>* {
  flex: 0 0 33.3333%;
}

.vecLogo{
  margin-left: 60px;
}

h2{
  margin: 70px;
  margin-top: 8rem;
  margin-bottom: 0%;
  line-height: 1.5rem;
}

.viewProps{
  color: white;
  background-color: #F4511E;
  border-color: #F4511E;
  width: 20%;
  height: 50px;
  margin-top: -2rem;
 float: right!important;
 margin-left: 70rem;
 
}

span{
  color: #F4511E;
  text-decoration: underline;
}

.properList{
  background-color: whitesmoke;
  width: 95%;
  margin-left: 2.2rem;
}

.property{
  display: inline-block;  
  margin-left: 1rem;
}

.list{
  margin-top: 55px;
}

.ImgProperty{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 1rem;
  margin-top: 3rem;
}

.ImgProperty:hover{
  transform: scale(1.1);
  transition: 500ms linear; 
}

h4{
  word-break: break-word;
  width:150px;
  text-align:center ;
}

.flexible{
  display: flex;
  margin-bottom: -80px;
}

.btnSearch{
  background-color: #F4511E;
  border-color: #F4511E;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  width: 160px;
  height:40px;
  margin-top: 1.5rem;

}

.newProperty{
  background-color: whitesmoke;
  width: 80%;
  height: 850px;
  margin-left: 7.2rem;
}

.yourProperty{
  padding-top: 2.5rem;
  font-size: 1.2rem;
}

form{
  margin-bottom: 3rem;
  margin: 2rem;
}

.formInput{
  margin-left: 1.3rem;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

h5{
  font-size: 1.2rem;
  text-align: center;
}

h6{
  font-size: 1.2rem;
  text-align: center;
  color: #F4511E; 
  margin-top: 2.5rem;
}

label{
  display: block;
  margin-bottom: 0.5rem;
}

input{
  width: 340px; 
  margin-bottom: 2rem;
  height: 40px;
}

textarea{
  width: 98%;
  height: 150px;
  margin-left: 1rem;
}

.lifestyle{
  display: flex;
  margin-left: 8rem;
  gap: 18px;
  margin-bottom: 8rem;
  margin-top: 3rem;

}

.life-img{
  width: 230px;
  height: 220px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.life-img:hover{
  transform: scale(1.1);
  transition: 500ms linear; 
}

.life{
  height: 380px;
  width: 250px;
}

.flex{
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin-top: 6rem;
  margin-left: 5rem;
}

.flex-option{
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.upload{
  text-align: center;
  margin-top: 1.5rem;
}

.newProps{
  background-color: #F4511E;
  border-color: #F4511E;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  width: 35%;
  height: 40px;
  margin-top: 1rem;
}

.footer{
  display: flex;
  margin-left: 13rem;
}

.address{
  margin-top: 6rem;
  margin-left: 15rem;
}

.mainRoad{
  margin-bottom: 1rem ;
}
.socialMedia{
  margin-left: 1rem;
  color: #F4511E;
}

.icon{
  color: #F4511E;
}

.link{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

a{
  text-decoration: none;
  margin-top: 3.5rem;
  color: black;
}

.copyright{
  margin-top: 0%;
}

.testimonialImg{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 1.5rem;
  margin-left: 7rem;
}

.text{
  margin-left: 2rem;
  margin-top: 2rem;
}

.slider{
  display: flex;
  background-color: rgb(225, 204, 179);
  height: 550px;
  width: 90%;
  margin-left: 3rem;
  margin-top: 5rem; 
  padding: 30px;
}

.testimonial{
  display: flex;
  margin-bottom: 2.5rem;
}

.textimonialLorem{
  line-height: 2rem;
  margin-left: 5rem;
}

.sliderText{
  width: 50%;
  margin-top: 2rem;
}
.slick-prev:before, .slick-next:before {
  display: none;
}

.SliderDots li.slick-active button:before {
  color: #F4511E!important; 
  font-size: 1rem !important;
  gap: 2rem;
}

.quote{
  font-size: 1rem;
  color: #F4511E;
  margin-left: 2rem;
  margin-top: 3rem;
}

span.visually-hidden{
  display: none;
}

.video iframe {
  height: 550px;
  width: 60%;
  margin-left: 8rem;
  margin-top: -2rem;
}


@media (max-width:600px) {
html, body{
    overflow-x: hidden; 
    top: 0;
  }

  .bg_image{
    position: relative;
    margin-left: 2rem!important;
  }

  .bgText{
    margin-left: 1rem;
  }

  .nav-links{
    display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 80%;
    height: 600px;
		top: 60px;
    left: -150%;
		transition: 0.5s all;
		font-size: 0.8rem;
		background-color:black;
    z-index: 2; 
  }

  .nav-links.active {
		left: 0;
	}

  .nav-item{
    margin: 1rem;
    margin-top: 5rem;
  }

  .nav-icon{
    display: flex;
    margin-top: 2rem!important;
    margin-left: 8rem!important;
    font-size: 2rem!important;  
  }

  .backgro{
    height: 800px!important;
  }

  .Fransico{
    display: inline-block;
    margin-top: -7%;
  }

  h1{
    font-size: 1.7rem;
    margin: 0%;
    word-break: break-word;
    width: 270px;
    text-align: center;
  }

  .map{
    width: 300px!important;
    height: 300px;
    margin-right: 18rem;
    margin-top: 2rem;
  }

  .search{
    width: 280px;
    margin-right: 32%!important;
    font-size: 1rem;
    height: 40px;
  }

  .neighbour{
    font-size: 0.7rem;
  }

  .faSearch{
    font-size: 20px;
    margin-right: 13px;
  }

  h2{
    margin-left: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .livingCost{
    display: block;
    margin: 3%;
  }

  .vector{
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 2.5rem;
  }

  .vecLogo{
    margin-top: 2rem;
  }
  .properList{
    width: 100%;
    margin: 0%;
  }

  .property{
    margin-bottom: 3rem;
  }

  .ImgProperty{
    width: 70%;
    margin-left: 2rem!important;
    margin-top: 2rem!important;
  }

  .viewProps{
    margin-left: 14rem!important;
    width: 90px;  
  }

  .list{
    display: flex;   
    margin-left: 0;
  }

  .listOf{
    margin-right: 1rem;
  }

  .flexible, .slider{
    display: block;
  }

  .lifestyle{
    margin-top: 10%;
    margin-bottom: 0%;
    margin: 1.5rem!important;
    
  }

  .life-img{
    width: 85% !important;
    height: 130px!important;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .life{
    height: 190px!important;
    width: 150px!important;
  }

  .flex{
    margin-top: 0;
    margin-left: 2.5rem;
  }
 
  .newProperty{
    margin-top: 9rem;
    margin-left: 0%;
    width: 100%;
    height: 1350px!important;
  }

  .yourProperty, h6{
    font-size: 0.85rem;
  }

  input, textarea{
    width: 280px!important;
  }
  
  .upload{
    margin-right: 1.3rem;
  }

  .newProps{
    font-size: 1rem;
    width: 75%;
  }

  .slider{
    margin-top: -9%;
    margin-left: 0%;
    width: 100%;
    height: 930px;
  }

  .sliderText{
    margin-top: 0;
  }
  .textimonialLorem{
    margin:0;
  }
  .testimonial{
    padding: -5rem!important;
  }

  .quote{
    margin-top: 3rem;
    margin-left: 4%!important;
  }

  .textimonialLorem{
    word-break: break-all;
    width: 100%;;
  }

  .slider{
    height: 1200px!important;
  }
  
  .sliderText{
    margin-left: 5rem;
  }

  .video iframe{
    margin: 0!important;
    width: 48%;
    height: 300px!important;
    margin-top: 3rem!important;
  }

  .footer, .address{
    display: block;
    margin: 2%;
    margin-top: 2rem;
  }

  .link{
    display: block;
    font-size: 0.9rem;
  }

  .linkFooter{
    margin: 2rem;
    margin-left: 7rem;
  }

  .copyright{
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
  }

}

@media (max-width:820px) {
  html, body{
    overflow-x: hidden; 
    top: 0;
  }

  .nav-links{
    display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 80%;
    height: 600px;
		top: 60px;
    left: -150%;
		transition: 0.5s all;
		font-size: 0.8rem;
		background-color:black;
    z-index: 2; 
  }

  .nav-links.active {
		left: 0;
	}

  .nav-item{
    margin: 1rem;
    margin-top: 5rem;
  }

  .nav-icon{
    display: flex;
    margin-top: 2rem;
    margin-left: 28rem;
    font-size: 3rem;  
  }

  .Fransico{
    display: inline-block;
    margin-top: -2%;
  }

  .map{
    margin-right: 8rem;
    margin-top: 3rem;
    width: 70%;
  }

  .backgro{
    height: 900px;
  }

  .search{
    margin-right: 27%;
  }

  .ImgProperty{
    width: 80%;
    margin-left: 5rem;
    margin-top: 5rem;
  }

  .viewProps{
   margin-left: 35rem; 
  }

  .flexible{
    display: block;
  }

  input{
    width: 350px;
  }

  .textarea{
    width: 39%;
  }

  .lifestyle{
    margin-left: 3rem;
  }

  .life-img{
    width: 65%;
    height: 250px;
    margin-bottom: 2rem;
  }

  .life{
    height: 450px;
    width: 90%;
    
  }

  .flex{
    margin-top: 0;
    margin-left: 2.5rem;
  }

  .newProperty{
    margin-top: 9rem;
    margin-left: 0%;
    width: 100%;
    height: 900px;
  }

  .footer{ 
    margin: 2%;
  }

  }

  @media (max-width:770px){
    html, body{
      overflow-x: hidden; 
      top: 0;
    }
  
    input{
      width: 330px;
    }

    .textarea{
      width: 40%;
    }
  }

  @media (max-width:920px) {
    html, body{
      overflow-x: hidden; 
      top: 0;
    }
  
    .nav-links{
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
      width: 80%;
      height: 600px;
      top: 60px;
      left: -150%;
      transition: 0.5s all;
      font-size: 0.8rem;
      background-color:black;
      z-index: 2; 
    }
  
    .nav-links.active {
      left: 0;
    }
  
    .nav-item{
      margin: 1rem;
      margin-top: 5rem;
    }
  
    .nav-icon{
      display: flex;
      margin-top: 2rem;
      margin-left: 30rem;
      font-size: 3rem;  
    }
  
    .Fransico{
      display: block;
      margin-top: -4%;
    }
  
  
    .map{
      margin-right: 8rem;
      margin-top: 3rem;
      width: 70%;
    }
  
    .backgro{
      height: 900px;
    }
  
    .search{
      margin-right: 27%;
    }
  
    .ImgProperty{
      width: 80%;
      margin-left: 5rem;
      margin-top: 5rem;
    }
  
    .viewProps{
     margin-left: 35rem; 
    }
  
    .flexible{
      display: block;
    }
  
    .lifestyle{
      margin-left: 3rem;
    }
  
    .life-img{
      width: 65%;
      height: 250px;
      margin-bottom: 2rem;
    }
  
    .life{
      height: 450px;
      width: 90%;
      
    }

    .flex{
      margin-top: 0;
      margin-left: 2.5rem;
    }
  
    .newProperty{
      margin-top: 9rem;
      margin-left: 0%;
      width: 100%;
      height: 900px;
    }

    .slider{
      height: 600px;
    }
  
    .textimonialLorem{
      margin:0;
    }
    .testimonial{
      margin: 0!important;
    }
  
    
  .video iframe{
    margin: 2rem;
    width: 48%;
    height: 600px;
    margin-top: -2rem;
  }

  .quote{
    margin-top: 1rem;
    margin-left: 0;
  }
    .footer{ 
      margin: 2%;
    }
  
    }

    @media (max-width:1024px){
      html, body{
        overflow-x: hidden; 
        top: 0;
      }
    
      .bg_image{
        margin: 2rem;
      }

      .newProperty{
        height: 900px;
      }

      .viewProps{
        margin-left: 40rem; 
       }
    }

    @media (max-width:1028px){
      html, body{
        overflow-x: hidden; 
        top: 0;
      }
    }

  